# `.groupby()` and `.agg()` - 2

The purpose of this chapter is to demonstrate how to use `.groupby()` and `.agg()` with user defined functions.

In service of this objective our analysis goal will be to calculate three monthly statistics for several ETFs during the year of 2020.  The three statistics we will calculate are:

1. average daily volume

2. monthly return

3. monthly volatility

## Loading Packages

Let's load the packages that we will need.

In [1]:
import numpy as np
import pandas as pd
import yfinance as yf

## Reading-In Data

In this chapter we will be working with price data for the Select Sector SPDR ETFs.  Each of these funds tracks a particular subset (sector) of the SP&500 Index.  For example, XLF tracks the financial sector and has major holdings in JP Morgan, Wells Fargo, and Bank of America.

Let's use **pandas_datareader** to grab the data from Yahoo Finance.

In [2]:
pd.options.display.max_rows = 25
lst_symbols = ['XLY', 'XLP', 'XLE', 'XLF', 'XLV', 'XLI', 'XLB', 'XLRE', 'XLK', 'XLU',]
df_etf = yf.download(
    lst_symbols, start='2020-01-01', end='2020-12-31',
    auto_adjust=False, rounding=True,
)
df_etf.head()

[*********************100%***********************]  10 of 10 completed

Price      Adj Close
Ticker           XLB    XLE    XLF    XLI    XLK    XLP   XLRE    XLU    XLV
Date
2020-01-02     54.30  47.82  27.97  75.93  88.95  54.08  31.81  53.65  93.51  \
2020-01-03     53.43  47.68  27.68  75.79  87.95  54.00  32.04  53.76  92.69
2020-01-06     53.19  48.05  27.66  75.81  88.16  54.11  32.05  53.81  93.27
2020-01-07     53.13  47.93  27.48  75.66  88.12  53.69  31.70  53.74  93.08
2020-01-08     53.32  47.14  27.66  75.91  89.06  53.89  31.86  53.71  93.69

Price               ...    Volume
Ticker         XLY  ...       XLB       XLE       XLF       XLI       XLK
Date                ...
2020-01-02  121.00  ...   7357400  11944700  28843300  16121300  13283500  \
2020-01-03  119.97  ...  12423200  29502900  51363600  17571300  15011800
2020-01-06  120.31  ...  15764400  22458100  27956100  16153100   7815000
2020-01-07  120.12  ...  20266900  11462500  39627500  16675400   7681800
2020-01-08  120.48  ...   8079600  19021400  47966600  10677700  11627200

Price
Ticker           XLP     XLRE       XLU      XLV      XLY
Date
2020-01-02  14460700  4380100  19107700  6277400  6295500
2020-01-03  26388900  3499000  17989300  8247500  5596400
2020-01-06  22541700  3097200  10444500  6441800  6411600
2020-01-07  15607600  3550600  13070300  6335300  9150800
2020-01-08  11451400  5089000  12741400  7494700  4725900

[5 rows x 60 columns]

This data is not as tidy as we would like.  Let's use method chaining to perform a series of data munging operations.

In [3]:
df_etf = (
    df_etf
    .stack()
    .reset_index()
    .rename_axis(None, axis=1)
    .rename(columns={'Date':'date', 'Ticker':'symbol', 'Adj Close':'adj_close','Close':'close', 
                    'High':'high', 'Low':'low', 'Open':'open', 'Volume':'volume'}) #renaming columns
    .sort_values(['symbol', 'date'])
)
df_etf

           date symbol  adj_close   close    high     low    open    volume
0    2020-01-02    XLB      54.30   60.70   61.94   60.63   61.83   7357400
10   2020-01-03    XLB      53.43   59.72   60.44   59.70   60.08  12423200
20   2020-01-06    XLB      53.19   59.46   59.83   59.41   59.55  15764400
30   2020-01-07    XLB      53.13   59.39   59.80   59.20   59.36  20266900
40   2020-01-08    XLB      53.32   59.60   59.84   59.20   59.40   8079600
...         ...    ...        ...     ...     ...     ...     ...       ...
2479 2020-12-23    XLY     151.90  157.55  158.05  156.57  157.24   2173000
2489 2020-12-24    XLY     152.22  157.88  158.12  157.21  157.70   1048800
2499 2020-12-28    XLY     153.96  159.68  160.32  158.60  159.42   2912400
2509 2020-12-29    XLY     154.00  159.73  160.53  158.98  160.24   2431200
2519 2020-12-30    XLY     154.93  160.69  160.93  160.13  160.30   2440700

[2520 rows x 8 columns]

---

**Coding Challenge:** Use a `DataFrame` attribute to determine the number of rows and columns in `df_etf`.

In [4]:
#| code-fold: true
#| code-summary: "Solution"
df_etf.shape

(2520, 8)

---

## Exploring and Cleaning the Data

As we can see from the coding challenge, this data set is large (by our standards).  Whenever I encounter a new data set that I can't look at in its entirety, I like to do a bit of exploration via the built-in **pandas** methods.

We know we have a variety of ETFs in our data, but it would be useful to know how many (especially if we were expecting a certain number).

In [5]:
print(df_etf['symbol'].unique())
print(df_etf['symbol'].unique().size)

['XLB' 'XLE' 'XLF' 'XLI' 'XLK' 'XLP' 'XLRE' 'XLU' 'XLV' 'XLY']
10

---

**Coding Challenge:** What `DataFrame` attribute could we use to check the data types of the columns of `df_etf`?

In [6]:
#| code-fold: true
#| code-summary: "Solution"
df_etf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2520 entries, 0 to 2519
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       2520 non-null   datetime64[ns]
 1   symbol     2520 non-null   object
 2   adj_close  2520 non-null   float64
 3   close      2520 non-null   float64
 4   high       2520 non-null   float64
 5   low        2520 non-null   float64
 6   open       2520 non-null   float64
 7   volume     2520 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 177.2+ KB

---

When I work with a time series of daily prices that I expect to come from a certain date range, I like to check the first and last trade dates that are represented in the data.

In [7]:
print(df_etf['date'].min())
print(df_etf['date'].max())

2020-01-02 00:00:00
2020-12-30 00:00:00

Here is what we know about our data set thus far:

1. 10 different ETFs are represented.

1. Prices are coming from the entirety of 2020.


Here are some things that we aren't necessarily sure of that would be worth checking in a high-stakes situation:

1. Is there a row/price for each symbol on each trade date?

1. Is there ever more than one row/price for a given symbol on a given trade date?

We won't bother answering these questions for the purposes of this chapter, but these are the types of data-integrity questions I will often try to answer when encountering a new data set.

## Calculating Daily Returns with `groupby()`

Our ultimate goal is to calculate monthly returns and monthly volatilities for each ETF in `df_etf`.  These quantities are both functions of daily returns.  So our first order of business is to calculate daily returns. 

In a previous tutorial we calculated daily returns in a simple vectorized fashion.  Unfortunately, we can't use the exact same approach here because there are multiple ETFs in the data set.

To overcome this challenge we will use our first application of `.groupby()`.

Here is the `.groupby()` code that calculates daily returns for each ETF.

In [8]:
# sorting values to get everything in the right order
df_etf.sort_values(['symbol', 'date'], inplace=True)

# vectorized return calculation
df_etf['dly_ret'] = \
    df_etf['close'].groupby(df_etf['symbol']).pct_change()
df_etf.head()

,date,symbol,adj_close,close,high,low,open,volume,dly_ret
0,2020-01-02,XLB,54.30,60.70,61.94,60.63,61.83,7357400,NaN
10,2020-01-03,XLB,53.43,59.72,60.44,59.70,60.08,12423200,-0.016145
20,2020-01-06,XLB,53.19,59.46,59.83,59.41,59.55,15764400,-0.004354
30,2020-01-07,XLB,53.13,59.39,59.80,59.20,59.36,20266900,-0.001177
40,2020-01-08,XLB,53.32,59.60,59.84,59.20,59.40,8079600,0.003536

## Adding `year` and `month` Columns

The ultimate goal is to calculate monthly statistics for each of the ETFs in our data set.

As a preliminary step let's add a `month` and `year` column to the `df_etf` by utilizing the `.dt` attribute that **pandas** provides for date columns.

In [9]:
df_etf['year'] = df_etf['date'].dt.year
df_etf['month'] = df_etf['date'].dt.month
df_etf[['date', 'year', 'month']].head()

         date  year  month
0  2020-01-02  2020      1
10 2020-01-03  2020      1
20 2020-01-06  2020      1
30 2020-01-07  2020      1
40 2020-01-08  2020      1

Let's do a quick data-integrity check:  There are 10 ETFs in our data set and there are 12 months in a year, so the number of symbol-year-month combinations should be 120.

The following code counts the number of rows associated with each symbol-year-month combination and puts that data into a `DataFrame`.

In [10]:
df_num_rows = \
    df_etf.groupby(['symbol', 'year', 'month']).size().reset_index()
df_num_rows.head()

  symbol  year  month   0
0    XLB  2020      1  21
1    XLB  2020      2  19
2    XLB  2020      3  22
3    XLB  2020      4  21
4    XLB  2020      5  20

---

**Coding Challenge:** Confirm that there are the correct number of symbol-year-month combinations in `df_num_rows`.

In [11]:
#| code-fold: true
#| code-summary: "Solution"
df_num_rows.shape

(120, 4)

---

Now that we've added the `year` and `month` columns we can proceed to calculating our monthly statistics.

## Average Daily Volume

Let's start with the most straight-forward calculation: average daily volume, over each month, for all 10 of the ETFs in our data set.  

This amounts to:

1. grouping by `symbol`, `month`, and `year`

1. applying the built-in `np.mean()` function to the `volume` column

In [12]:
df_volume = \
    df_etf.groupby(['symbol', 'year', 'month'])['volume'].agg([np.mean]).reset_index()
df_volume.rename(columns={'mean':'avg_volume'}, inplace=True)
df_volume.head()

  symbol  year  month    avg_volume
0    XLB  2020      1  7.235429e+06
1    XLB  2020      2  1.058022e+07
2    XLB  2020      3  1.432920e+07
3    XLB  2020      4  9.000557e+06
4    XLB  2020      5  4.829185e+06

---

**Coding Challenge:** Calculate the maximum daily volume for each symbol, *over the entire year*.

In [13]:
#| code-fold: true
#| code-summary: "Solution"
df_etf.groupby(['symbol', 'year'])['volume'].agg([np.max]).reset_index()

  symbol  year       amax
0    XLB  2020   30741700
1    XLE  2020   99356700
2    XLF  2020  256525000
3    XLI  2020   79118200
4    XLK  2020   61727100
5    XLP  2020   50978800
6   XLRE  2020   49899800
7    XLU  2020   90263100
8    XLV  2020   39561900
9    XLY  2020   20616100

---

## Monthly Returns

Next, let's calculate monthly returns for each of the ETFs in our data set.  This amounts to:

1. grouping by `symbol`, `month`, and `year`

1. applying an aggregation function to the `daily_returns` column

These are the same two steps that we have done in our previous aggregation examples.  However, there is one additional wrinkle that we are going to have to contend with. 


In the previous section, we used simple built-in aggregation funtions available through `numpy`, such as `np.max` and `np.mean`.  Calculating monthly returns from daily returns is a little more complicated.

Thus, we are going to have to first create a custom function for calculating monthly returns from daily returns, and then use this custom function in `.agg()`.

The following code defines our monthly returns function in terms of daily returns:

In [14]:
def monthly_ret(dly_ret):
    return np.prod(1 + dly_ret) - 1

Now we can apply our `monthly_ret()` function for all of our ETFs using the following code.

In [15]:
df_ret = \
    df_etf.groupby(['symbol', 'month', 'year'])['dly_ret'].agg([monthly_ret]).reset_index()
df_ret.head()

  symbol  month  year  monthly_ret
0    XLB      1  2020    -0.050577
1    XLB      2  2020    -0.085199
2    XLB      3  2020    -0.145675
3    XLB      4  2020     0.151865
4    XLB      5  2020     0.068813

We can see from our calculation that in March of 2020 XLB had a monthly return of -14.6%.

---

**Coding Challenge:** Which ETF had the highest single monthly return in all of 2020?  What was the month?

In [16]:
#| code-fold: true
#| code-summary: "Solution"
df_ret.sort_values(by=['monthly_ret'], ascending=False)

    symbol  month  year  monthly_ret
15     XLE      4  2020     0.307639
22     XLE     11  2020     0.279944
111    XLY      4  2020     0.188825
34     XLF     11  2020     0.168483
46     XLI     11  2020     0.160274
..     ...    ...   ...          ...
74    XLRE      3  2020    -0.157380
20     XLE      9  2020    -0.159888
38     XLI      3  2020    -0.192529
26     XLF      3  2020    -0.216999
14     XLE      3  2020    -0.358074

[120 rows x 4 columns]

---

## Monthly Volatility

Let's use a similar process to calculate the monthly volatility for each of the ETFs.

We begin by defining a custom function that calculates the monthly volatility from daily returns.  Recall that industry convention is to state these volatilities in annualized terms.

In [17]:
def monthly_vol(dly_ret):
    return np.std(dly_ret) * np.sqrt(252)

We can now use our `monthly_vol()` function in to perform an aggregating calculation.

In [18]:
df_vol = \
    df_etf.groupby(['symbol', 'month', 'year'])['dly_ret'].agg([monthly_vol]).reset_index()
df_vol.head()

  symbol  month  year  monthly_vol
0    XLB      1  2020     0.150336
1    XLB      2  2020     0.282201
2    XLB      3  2020     0.932265
3    XLB      4  2020     0.503394
4    XLB      5  2020     0.277311

---

**Coding Challenge:**  What was the volatility for XLF in December 2018?

In [19]:
#| code-fold: true
#| code-summary: "Solution"
df_vol.query('symbol == "XLF" & month == 12')

   symbol  month  year  monthly_vol
35    XLF     12  2020     0.137471

---

## Combining Metrics - inner `.merge()`

Now, suppose that we want to combine our three metrics into one report - meaning that we want them organized into one `DataFrame` in an easy to read fashion.

One way to do this is to use the `pandas.merge()` method that we learned in the previous tutorial to join together `df_volume` (average daily volume), `df_ret` (monthly returns), and `df_vol` (monthly volatility).

In [20]:
df_joined = \
    (
    df_volume
        .merge(df_ret, on=['symbol', 'year', 'month'])
        .merge(df_vol, on=['symbol', 'year', 'month'])
    )
df_joined.head()

  symbol  year  month    avg_volume  monthly_ret  monthly_vol
0    XLB  2020      1  7.235429e+06    -0.050577     0.150336
1    XLB  2020      2  1.058022e+07    -0.085199     0.282201
2    XLB  2020      3  1.432920e+07    -0.145675     0.932265
3    XLB  2020      4  9.000557e+06     0.151865     0.503394
4    XLB  2020      5  4.829185e+06     0.068813     0.277311

## Combining Metrics - multiple aggregation

Another way to combine all our statistics into a single `DataFrame` is to supply all of our custom aggregation functions as arguments to the `.agg()` function at the same time.  

Here is what that looks like:

In [21]:
# defining aggregations
agg_funcs = \
    {'volume':[np.mean], 'dly_ret':[monthly_ret, monthly_vol]}

# performing all aggregations all three aggregations at once
df_joined = \
    df_etf.groupby(['symbol', 'month', 'year']).agg(agg_funcs).reset_index()

# looking at the data frame
df_joined.head()

  symbol month  year        volume     dly_ret
                              mean monthly_ret monthly_vol
0    XLB     1  2020  7.235429e+06   -0.050577    0.150336
1    XLB     2  2020  1.058022e+07   -0.085199    0.282201
2    XLB     3  2020  1.432920e+07   -0.145675    0.932265
3    XLB     4  2020  9.000557e+06    0.151865    0.503394
4    XLB     5  2020  4.829185e+06    0.068813    0.277311

Notice that the input into the `.agg()` method is a `dict` whose elements are pairs that look like: 

`'column_name':[list_of_aggregating_functions`].

---

**Code Challenge:** Modify the code above to add maximum daily volume to the report.

In [22]:
#| code-fold: true
#| code-summary: "Solution"

# defining aggregations
agg_funcs = \
    {'volume':[np.mean, np.max], 'dly_ret':[monthly_ret, monthly_vol]}

# performing all aggregations all three aggregations at once
df_joined = \
    df_etf.groupby(['symbol', 'month', 'year']).agg(agg_funcs).reset_index()

# looking at the data frame
df_joined.head()

  symbol month  year        volume               dly_ret
                              mean      amax monthly_ret monthly_vol
0    XLB     1  2020  7.235429e+06  20266900   -0.050577    0.150336
1    XLB     2  2020  1.058022e+07  30741700   -0.085199    0.282201
2    XLB     3  2020  1.432920e+07  28390200   -0.145675    0.932265
3    XLB     4  2020  9.000557e+06  30738000    0.151865    0.503394
4    XLB     5  2020  4.829185e+06   7386300    0.068813    0.277311

---

## Related Reading

*Python Data Science Handbook (VanderPlas)* - Section 3.7 - Combining Datasets: Merging and Joining

*Python Data Science Handbook (VanderPlas)* - Section 3.8 - Aggregation and Grouping

*Python for Data Analysis (McKinney)* - Chapter 9 (pp 251-274) Data Aggregation and Grouping Operations